<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
<h1>Welcome!</h1>

<h3>Please signup with the Twitter link below, mofo!</h3>
<br><br>
<% if current_user %>
	Signed in as <%= current_user.name %>!
	<%= link_to "Sign out", signout_path %>
<% else %>
<%= link_to "Sign In with Twitter", "auth/twitter"  %>
<% end %>

</body>
</html>

